html{
    background-color: rgb(160, 160, 160);
    color: rgb(0, 0, 0);
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -20;
  }

nav{  
    display: flex;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 100;
    
}

@-moz-document url-prefix() {
    nav {
        background-color: rgba(255, 255, 255, 0);
    }
}

#logo{
    height: 50px;
    padding: 10px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

#navegacion {
    padding: 10px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    display: flex;
    margin-left: auto;
}
  
#navegacion a {
    float: right;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
    backdrop-filter: blur(10px);
}
  
#navegacion a:hover {
    background-color: rgba(255, 255, 255, 0.274);
    color: black;
}
  
#navegacion .icon {
    display: none;
}


.info-box{
    display: none;
    position: absolute;
    top: 90px;
    right: 10px;
    width: 50%;
    padding: 14px 25px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

@-moz-document url-prefix() {
    .info-box {
        background-color: rgba(255, 255, 255, 0.274);
    }
}

.info-box-descripcion{
    width: 60%;
}
    
a:hover + .info-box {
    display: block;
}
  
@media screen and (max-width: 950px) {
    #navegacion a {display: none;}
    #navegacion a.icon {
        float: right;
        display: block;
    }

    #navegacion.responsive {
        position: relative;
        display: inline-block;
    }
    #navegacion.responsive a {
        float: none;
        display: block;
        text-align: right;
    }

    a:hover + .info-box {
        display: none;
    }
}

header{
    padding: 20% 30% 20% 20%;
}

@media screen and (max-width: 950px) {

    header{
        padding: 20% 30% 30% 20%;
    }
}

h1{
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    
    font-size: 3em;
}

h2{
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
}


main{  
    display: flex;
    flex-flow: wrap;
    justify-content:center;
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    row-gap: 10px;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
}


#index{  
    display: flex;
    flex-flow: wrap;
    justify-content:center;
    row-gap: 30px;
    column-gap: 10%;
}

.index-button {
    background-color: rgba(119, 119, 119, 0);
    backdrop-filter: blur(10px);
    padding: 18px;
    width: 30%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 950px) {

    .index-button {
        width: 70%;
        background-color: rgba(255, 255, 255, 0.274);
    }
}

@-moz-document url-prefix() {
    .index-button {
        background-color: rgba(255, 255, 255, 0.274);
    }
}
  
.index-button:hover {
    background-color: rgba(255, 255, 255, 0.555);
    color: rgb(0, 0, 0);
}
  



.index-title{
    display: inline;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
}

.index-descripcion{
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (max-width: 950px) {

    .index-title{
        font-size: xx-large;
    }

    .index-descripcion{
        display: none;
    }
}


#about, #formulario{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 10%;
    padding-top: 10%;
    width: 100%;
}



.about-button, .form-button {
    background-color: rgba(119, 119, 119, 0);
    backdrop-filter: blur(10px);
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
}

.about-button:hover {
    background-color: rgba(255, 255, 255, 0.555);
    color: rgb(0, 0, 0);
}




.about-title, .form-title{
    display: inline;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
}

.about-descripcion, .form-descripcion{
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (max-width: 950px) {

    #about, #formulario{
        padding-top: 30%;
    }

    .about-button, .form-button {
        background-color: rgba(255, 255, 255, 0.274);
    }
}

@-moz-document url-prefix() {
    .about-button, .form-button {
        background-color: rgba(255, 255, 255, 0.274);
    }
}

#formulario{
    max-width: 600px;
}

.form-box{
    display: flex;
    flex-flow: wrap;
    row-gap: 20px;
    column-gap: 10%;
    padding: 40px 2%;
    width: 100%;
}

.input-text{
    font-size: 15px;
}

.input-info-m{
    width: 40%;
}

@media screen and (max-width: 950px) {

    .input-info-m{
        width: 90%;
    }

}

.input-field{
    width: 100%;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
    border-radius: 10px;
    border-width: 0px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.671);
}

.input-field-area{
    width: 90%;
    resize: vertical;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
    border-radius: 10px;
    border-width: 0px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.671);
}

.input-info-l{
    width: 100%;
}

.submit-button{
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
    border-radius: 10px;
    border-width: 0px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.671);
}
  

footer{
    display: flex;
    justify-content: center;
    margin: 100px 200px;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 400;
}

footer a{ 
    color: rgb(156, 78, 104);
    text-decoration: none;
}

.info-footer{
    backdrop-filter: blur(10px);
    width: 400px;
    margin-bottom: 40px;
}

.info-footer-title{
    font-weight: 500;
}

.info-footer a{
    display: block;
    margin-top: 10px;
    color: rgba(0, 0, 0);
}

.info-footer-contacto{
    display: inline-block;
    word-wrap: break-word;
}

.info-footer-contacto a{
    color: rgba(0, 0, 0);
}

@media screen and (max-width: 950px) {

    footer{
        display: inline-block;
        margin: 100px 30px;
    }

    .info-footer{
        width: 200px;
    }

}